<footer class="footer">
    <div class="container">
        <h1 class="title"><i class="{{site.icon}}"></i> {{ site.title }}</h1>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">{{site.description}}</h2>
            </div>
            <div class="column">
                <ul>
                    {% for link in site.footer-links %}
                    <li><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <strong>Get in touch</strong>
                <ul>
                    {% for link in site.social-links %}
                    <li><i class="{{link.icon}} fa-fw"></i> <a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr />
        <small>&copy; 2020 HackDalton. <a href="https://github.com/HackDalton">This website is Open Source</a>. Code <a
                href="https://github.com/hackdalton/website/blob/master/LICENSE.md">MIT Licensed</a>, Content under <a
                href="https://creativecommons.org/licenses/by/4.0/?ref=ccchooser">CC BY 4.0</a> unless otherwise
            noted.</small>
    </div>
</footer>