<footer class="footer">
    <div class="container">
        <h1 class="title"><i class="{{site.icon}}"></i> {{ site.title }}</h1>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">A programming and computer science competition for the interschool.</h2>
            </div>
            <div class="column">
                <ul>
                    {% for link in site.footer-links %}
                    <li><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <strong>Find us on Social Media</strong>
                <ul>
                    {% for link in site.social-links %}
                    <li><i class="{{link.icon}} fa-fw"></i> <a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr />
        <small>&copy; 2020 HackDalton</small>
    </div>
</footer>