<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.home %}
    <title>{{site.title}}</title>
    {% else %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
        integrity="sha256-qS+snwBgqr+iFVpBB58C9UCxKFhyL03YHpZfdNUhSEw=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="icon" type="image/png" href="/assets/img/icon128.png">

    <!-- Primary Meta Tags -->
    <meta name="title" content="HackDalton">
    <meta name="description"
        content="A programming and computer science competition for high schoolers in New York City.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hackdalton.com">
    <meta property="og:title" content="HackDalton">
    <meta property="og:description"
        content="A programming and computer science competition for high schoolers in New York City.">
    <meta property="og:image" content="/assets/img/header-with-blue.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://hackdalton.com">
    <meta property="twitter:title" content="HackDalton">
    <meta property="twitter:description"
        content="A programming and computer science competition for high schoolers in New York City.">
    <meta property="twitter:image" content="/assets/img/header-with-blue.jpg">
</head>