<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.home %}
  <title>{{site.title}}</title>
  {% else %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% endif %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    integrity="sha256-qS+snwBgqr+iFVpBB58C9UCxKFhyL03YHpZfdNUhSEw=" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/index.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="icon" type="image/png" href="/assets/img/icon128.png">

  <!-- Primary Meta Tags -->
  <meta name="title" content="HackDalton">
  <meta name="description" content="{{site.tagline}}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://hackdalton.com">
  <meta property="og:title" content="HackDalton">
  <meta property="og:description" content="{{site.tagline}}">
  <meta property="og:image" content="https://hackdalton.com/assets/img/header-with-blue.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://hackdalton.com">
  <meta property="twitter:title" content="HackDalton">
  <meta property="twitter:description" content="{{site.tagline}}">
  <meta property="twitter:image" content="https://hackdalton.com/assets/img/header-with-blue.jpg">

  <!-- Google Structured Data -->
  <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Event",
          "name": "HackDalton",
          "startDate": "2020-06-05T14:00:00.000Z",
          "endDate": "2020-06-05T21:00:00.000Z",
          "eventStatus": "https://schema.org/EventScheduled",
          "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
          "location": {
            "@type": "VirtualLocation",
            "url": "https://hackdalton.com/"
            },
          "image": [
            "https://hackdalton.com/assets/img/header-with-blue.jpg"
           ],
          "description": "A programming and computer science competition for high schoolers in New York City.",
          "organizer": {
            "@type": "Organization",
            "name": "HackDalton",
            "url": "https://hackdalton.com"
          }
        }
    </script>

</head>